include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Header()
        section.main-block 
            .container
                .text-block
                    h1 Образовательная экосистема <br> для <span>юристов</span>
                    p Уникальные видеолекции и онлайн-курсы от ведущих юристов. Учитесь новому и повышайте профессиональный уровень каждый день.
                    button.btn Принять участие 
                img(src="/assets/images/bg/banner.png", alt="").bg
        section.directions
            .container 
                h2.title Востребованные направления
                .directions-wrapper 
                    a(href="").item.big 
                        .bg
                        span Юридический <br> английский
                        button.btn Перейти 
                    a(href="").item 
                        .bg
                        span Банкротство и СО
                        button.btn Перейти 
                    a(href="").item 
                        .bg
                        span Семейное право
                        button.btn Перейти 
                    a(href="").item.big 
                        .bg
                        span Coronapravo
                        button.btn Перейти 
                    a(href="").item 
                        .bg
                        span Корпоративное <br> право
                        button.btn Перейти 
                    a(href="").item 
                        .bg
                        span И ещё 18 <br> направлений
                        button.btn Перейти 
        section.popular
            .container 
                h2.title Популярное
                .btn-switch-wrapper
                    .owl-carousel
                        .item
                            button.btn-tab-switch.active(target="pop-1") Банкротство и СО 
                        .item
                            button.btn-tab-switch(target="pop-2") Корпоративное право
                        .item
                            button.btn-tab-switch(target="pop-3") Поэтажная собственность
                        .item
                            button.btn-tab-switch(target="pop-4") Обязательственное право
                        .item
                            button.btn-tab-switch(target="pop-5") Вещное право
                        .item
                            button.btn-tab-switch(target="pop-6") Юридический английский
                        .item
                            button.btn-tab-switch(target="pop-7") Coronapravo     
                        .item
                            button.btn-tab-switch(target="pop-8") Общие вопросы
                        .item
                            button.btn-tab-switch(target="pop-9") test 1
                        .item
                            button.btn-tab-switch(target="pop-10") test 2
                    button.next
                .tab-viewer 
                    .tab(tab-name="pop-1").active
                        .course-wrapper 
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                            +CourseCard()
                    .tab(tab-name="pop-2")
                        |tab 2
                    .tab(tab-name="pop-3")
                        |tab 3
                    .tab(tab-name="pop-4")
                        |tab 4
                    .tab(tab-name="pop-5")
                        |tab 5
                    .tab(tab-name="pop-6")
                        |tab 6
                    .tab(tab-name="pop-7")
                        |tab 7
                    .tab(tab-name="pop-8")
                        |tab 8
                    .tab(tab-name="pop-9")
                        |tab 9
                    .tab(tab-name="pop-10")
                        |tab 10
                .btn-more 
                    button.btn Показать больше
        section.sect-text 
            .container 
                .left-block 
                    h2 Это <b>другой способ</b> <br> учиться онлайн
                .right-block 
                    p Вас будут учить признанные эксперты из Microsoft, IBM, Mail.ru Group, Сбера, Яндекса, Ozon, МТС, Мегафон и других топовых компаний.
                    p Они поделятся своим бесценным опытом и знаниями, которые каждый день помогают им быть лучшими в своей работе, а их компаниям занимать лидирующие позиции на рынке.
        +HowTo()
        section.reviews
            .container 
                h2.title Отзывы
                .owl-carousel 
                    +Review()
                    +Review()
                    +Review()
                    +Review()
                    +Review()
                    +Review()
                    +Review()
                    +Review()
                .navs-wrapper
                    .owl-navs
                        .nav
                        .dots
        +Footer()

        include pug/scripts.pug